@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}


/* 
    Palette 
        Menu & scrollbar background: #222529
        Nav links, logo description: rgba(255, 255, 255, 0.5);
        Logo title & active link: #FFFFFF;
        Active nav icon: #FFBA73;
        Inactive nav icon: #41484C;
        Main page background: #F3F8F8;
        Even sections background & footer icons: #E9EEEE;
        Menu icon: rgba(128, 136, 144, 0.5);
        Title font color: rgba(255, 255, 255, 0.75);
        Footer font color : #888888;
        Footer background color & scrollbar: #DCE3E2;
*/


/* Menu */

#menu {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;

    background-color: #222529;
    position: fixed;
    height: 100%;
    width: 25%;
    text-align: right;
    overflow-y: auto;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.5);
}

#menu header a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

#logo {
    position: relative;
    margin: 2em 2em 0 2em;
}

#logo img {
    position: absolute;
    left: 0;
    width: 48px;
    height: 48px;
}

#logo h2 {
    margin: 0;
    color: #FFFFFF;
}

#logo p {
    margin: 0;
    font-size: 0.85em;
}

#nav {
    display: block;
}

#nav ul {
    list-style-type: none;
    padding: 0;
}

#nav ul li a {
    display: block;
    padding: 1em 2em 1em 2em;
}

#nav ul li a span {
    position: relative;
    display: block;
    font-size: 1.1em;
}

#nav ul li a span:before {
    position: absolute;
    left: 0;
    font-family: FontAwesome;
    color: #41484C;
    line-height: 1.3em;
}

.active {
    font-weight: bold !important;
    color: #FFFFFF !important;
    background-color: #1d2023;
}

#nav ul li a.active span:before {
    color: #FFBA73;
}

#menu-footer {
    text-align: center;
    font-size: 1.5em;
    margin: 0.8em 0 1.5em 0;
}

#menu-footer a {
    margin: 0 0.5em;
    color: #41484c;
    transition: all 0.4s ease-in-out;
}

#menu-footer a:hover {
    color: #FFFFFF;
}





/* Markdown ico */

.markdown {
    vertical-align: middle;
    width: 39px;
    height: 24px;
    border-radius: 4px;
    background-color: #41484C;
    transition: all 0.35s ease-in-out;
}

.markdown:hover {
    background-color: #FFFFFF;
}

#menu-icon {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
    margin: 1em;
}

#menu-icon span {
    color: white;
    padding: 0.5em 0.8em;
    background-color: rgba(128, 136, 144, 0.5);
    border-radius: 10%;
}





/* Main */

#main {
    margin-left: 25%;
    background-color: #F3F8F8;
}

.banner {
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section {
    padding: 1% 7% 5% 7%;
    text-align: justify;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
}

section:nth-child(even) {
    background-color: #E9EEEE;
}

#top {
    padding: 10% 10%;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
}

#top h1 {
    font-weight: lighter;
}

#footer {
    padding: 2.5em 0 3.5em 0;
    text-align: center;
    color: #888888;
    font-weight: lighter;
    background-color: #DCE3E2;
}

h1 {
    font-size: 2em;
}





/* Custom Scroll bar */

.dark-scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #222529;
}

.dark-scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: #222529;
}

.dark-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #DCE3E2;
}








/* Middle */

@media screen and (max-width: 960px) and (min-width: 737px) {
    #logo img {
        position: relative;
        margin-bottom: 0.5em;
    }

    #nav ul li a span {
        font-size: 0.9em;
        padding-right: 0.5em;
    }

    #nav ul li a span:before {
        left: 100%;
    }

    #menu-footer {
        font-size: 1.2em;
    }

    .markdown {
        width: 30px;
        height: 19px;
    }
}








/* Mobile */

@media screen and (max-width: 736px) {

    #menu {
        display: none;
    }

    #main {
        margin-left: 0;
    }

    #menu-icon {
        display: block;
    }

    /*  Hide scrollbar */
    .dark-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Show or hide menu */
    body.menu-visible #main {
        transform: translateX(275px);
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
    }

    body.menu-visible #menu-icon {
        transform: translateX(275px);
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
    }

    body.menu-visible #menu {
        display: flex;
        width: 275px;

        transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
    }
}